name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
    - uses: gradle/actions/wrapper-validation@v5
    - uses: gradle/actions/setup-gradle@v5
    - run: chmod +x ./gradlew
    - name: Build with Gradle Wrapper
      run: ./gradlew build
    - uses: actions/upload-artifact@v6
      with:
        name: "project"
        path: "."
